[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
black = "*"
python-dotenv = "*"
pylint = "*"
flask-cors = "*"
pytest = "*"
authlib = "*"
requests = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
flask-migrate = "*"
pytest-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
