[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
black = "*"
python-dotenv = "*"
pylint = "*"
flask-cors = "*"
pytest = "*"
authlib = "*"
requests = "*"
pytest-dotenv = "*"
flask-pymongo = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.11"
